/*-----------------------------------------
    Hotel Page styling
-----------------------------------------*/

    .hotel-main {
        display: flex;
        flex-direction: column;
    }


/*-----------------------------------------
    Header Section styling
-----------------------------------------*/

    .hotel-intro {
        display: flex;
        flex-direction: column;

        text-align: center;
        padding: 1rem 3rem;
    }


/*-----------------------------------------
    List of Hotels styling
-----------------------------------------*/

    .hotel-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        padding: 2rem;
    }

    .hotel-list h2 {
        text-align: center;
      
    }
    @media(max-width: 800px){

        .hotel-list {
            padding: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    
/*----------- Card Styling --------------*/

    .hotel-card {

        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 7px 7px 10px 4px rgba(0, 0, 0, 0.5);

        padding: 1rem;
        margin: 0.5rem 2rem;
    }

    .hotel-card * {
        margin: 0.5rem 0;
    }

    @media(max-width: 800px){

        .hotel-card {
            padding: 0.5rem;
            margin: 1rem;
        }

    } 


/* ------------Card Data -------------*/
            
            /* Img Container */
            .hotel-card-preview {
                text-align: center;
            }

            /* Img */
            .hotel-card-preview img {
                max-width: 35vw;
                border-radius: 6px;
            }

        /* -- Object Perks --*/            
            .hotel-card-perks {
                background-color: var(--brown-exlight);
                border-radius: 7px;
                padding: 1.35rem;
                height: 6rem;
                font-size: 1.15rem;
            }



        /* -- Object Data -- */

                .hotel-card-data {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                .hotel-card-data * {
                    margin: 0.25rem 0.5rem;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                }

        /* -- Form Area at Bottom -- */
                
                /*Form Container*/
                .hotel-card form {
                    padding-top: 1px;
                    align-self: center;
                    border: none;
                    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
                    margin: 0;
                }

                /*Button*/
                .hotel-card form input {
                    border: none;
                    background-color: rgb(150, 94, 69);
                    color: rgb(235, 235, 235);
                    padding: 0.5rem;
                    margin: 0;
                }
