/*------------------------------
    CSS Properties
--------------------------------*/

:root {

    --brown-main: rgb(150, 94, 69);
    --brown-light: rgb(201, 178, 149);
}

/*------------------------------
    Generic Styles
--------------------------------*/

    *, ::after, ::before {

        font-family: Helvetica, sans-serif;
        box-sizing: border-box;
        font-size: 1rem;
        margin: 0;
    }

    h1 {font-size: 2.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.5rem;}

    a {text-decoration: none;}

    ul {list-style: none;}

    button {

        border: none;
        border-radius: 6px;
        background-color: rgb(150, 94, 69);
    }

/*------------------------------
    Nav Styling
--------------------------------*/

    .nav {

        position: sticky;
        top: 0;
        background-color: black;
    }

/*------------------------------
    Hero Styling
--------------------------------*/

    .hero {

        display: flex;
        flex-direction: column;

        justify-content: space-around;
        min-height: 75vh;
        padding: 1rem;
        padding-left: 5vw;
    }

/*------------------------------
    Main Area / Home
--------------------------------*/

    .booking-form-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: var(--brown-light);
        padding: 3rem;
    }

    .booking-form {

        display: flex;
        flex-direction: column;
        
        margin-top: 1.5rem;

        padding: 1.5rem;
        padding-left: 12vw;
        padding-right: 12vw;
        border-radius: 4px;

        background-color: white;
        box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);

    }

        .booking-form input {
            
            background-color: rgb(235, 235, 235);
            /*box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);*/

            border-radius: 8px 8px 0 0;
            border: none;
            border-bottom: solid 1px;

            font-size: 1.5rem;
            margin: 1rem 0;
            padding: 0.5rem;
        }

        #compare-submit {
            
            align-self: flex-end;

            /*max-width: 20vw;*/
            border: none;
             border-radius: 0; 

            background-color: rgb(150, 94, 69);
            color: rgb(235, 235, 235);
            box-shadow: none;
            box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
        }

/*------------------------------
    Main Area / Bookings
--------------------------------*/


/*------------------------------
    Footer Styling
--------------------------------*/
