/*------------------------------
    CSS Properties
--------------------------------*/

:root {

    --brown-darker: rgb(158, 75, 36);
    --brown-main: rgb(150, 94, 69);
    --brown-light: rgb(201, 178, 149);

    --shadeGrey: rgb(210, 210, 210);
    --darkGrey: rgb(40,40,40);
}

/*------------------------------
    Generic Styles
--------------------------------*/

    *, ::after, ::before {

        font-family: Helvetica, sans-serif;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight:lighter;
        margin: 0;
    }

    body {
        background-color: var(--brown-light);
    }

    h1 {font-size: 3rem; margin-bottom: 0.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.5rem;}

    @media(max-width: 800px) {

        h1 {font-size: 2rem;}
        h2 {font-size: 1.25rem;}
        h3 {font-size: 1rem;}
    }

    a {text-decoration: none;}

    ul {list-style: none;}

    button {

        border: none;
        border-radius: 6px;
        background-color: rgb(150, 94, 69);
    }

/*------------------------------
    Nav Styling
--------------------------------*/

    .nav-container {
        background-color: rgba(255, 255, 255);
        display: flex;

        position: sticky;
        top: 0;

    }
    @media(max-width: 800px) {
        .nav {
            flex: 9;
        }
        .nav a {
            padding: 0rem;
        }
        .nav-container article {
            flex: 1;
            padding-top: 0.25rem;
        }
        .icon {
            border-radius: 50%;
        }
    }

        .nav {
            flex: 7;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
                
            background-color: rgb(255, 255, 255);
        }

        /* -- Nav Buttons -- */
            
            .nav a {
                display: block;
                width: 100%;
                text-align: center;
                padding: 1rem;
                background-color: rgb(255, 255, 255);
                color: black;
                border-radius: 0;
            }

            .nav a:hover {
                background-color:var(--shadeGrey);
                color:var(--brown-darker)
            }

            /* -- Nav Icon -- */
            
            .nav-container article {
                flex: 5;    
                padding-left: 2rem;        
            }

            .icon {
                padding-top: 5px;
                height: 2.5rem;
                width: 2.5rem;
                cursor: pointer;
            }

/*------------------------------
    Hero Styling
--------------------------------*/

    .hero {

        display: flex;
        flex-direction: column;

        background-image: url("../resource/hero-background-2.png");
        background-repeat: no-repeat;
        background-size: 100vw 120vh;

        justify-content: space-around;
        min-height: 90vh;

        border-radius: 0 0 2.5% 2.5%;
    }
    @media(max-width: 800px) {

        .hero {
            min-height: 60vh;
            background-size: 100vw 60vh;
        }
    }

        .hero-title {
            background-color: rgba(150, 94, 69, 0.5);
            color: white;
            padding: 1.5rem;
            padding-left: 4vw;
            max-width: 45vw;
            border-radius: 8px;
        }

/*------------------------------
    Main Area / Home
--------------------------------*/

    .booking-form-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: var(--brown-light);
        padding: 3rem;
    }

    .booking-form {

        display: flex;
        flex-direction: column;
        
        margin-top: 1.5rem;

        padding: 1.5rem;
        padding-left: 12vw;
        padding-right: 12vw;
        border-radius: 4px;

        background-color: white;
        box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);

    }

        .booking-form input {
            
            background-color: rgb(235, 235, 235);
            /*box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);*/

            border-radius: 8px 8px 0 0;
            border: none;
            border-bottom: solid 1px;

            font-size: 1.5rem;
            margin: 1rem 0;
            padding: 0.5rem;
        }
        @media(max-width: 800px) {

            .booking-form input {
                font-size: 1rem;

            }
        }

        #compare-submit {
            
            align-self: flex-end;

            /*max-width: 20vw;*/
            border: none;
             border-radius: 0; 

            background-color: rgb(150, 94, 69);
            color: rgb(235, 235, 235);
            box-shadow: none;
            box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);

            cursor: pointer;
        }

/*------------------------------
    Main Area / Bookings
--------------------------------*/


/*------------------------------
    Main Area / Bookings
--------------------------------*/


/*------------------------------
    Footer Styling
--------------------------------*/
